<div id="category-list-wrapper">
	<div class="right-list" ng-if="mobile">
		<div class="right-list-item" ng-repeat="alphaList in alphaLists"><a ng-click="goToAnchor(alphaList.letter)">{{alphaList.letter}}</a></div>
	</div>
	<div id="page-content" style="min-height:{{categoryListScreenHeight}}px;height:{{categoryListScreenHeight}}px;overflow-y:scroll;">
		<div class="section results-section" ng-if="desktop">
			<div id="results-section-header" class="section-header" ng-click="collapseCategoryList()">
				<span class="section-header-icon fa fa-circle"></span><span class="section-header-text">CATEGORIES</span>
				<span ng-if="displayCategoryListClose" class="section-header-close fa fa-times"></span>
			</div>
		</div>
		<div class="top-list" ng-if="desktop">
			<div class="top-list-item" ng-repeat="alphaList in alphaLists"><a ng-click="filterResultsByLetter(alphaList.letter);goToAnchor(alphaList.letter);">{{alphaList.letter}}</a></div>
			<div class="top-list-item">|</div>
			<div class="top-list-item"><a ng-click="filterResultsByLetter('ALL')">ALL</a></div>
		</div>
		<div class="section results-section left-list">
			<div id="results-section-header" class="section-header" ng-click="collapseCategoryList()" ng-if="mobile">
				<span class="section-header-icon fa fa-circle"></span><span class="section-header-text">CATEGORIES</span>
				<span ng-if="displayCategoryListClose" class="section-header-close fa fa-times"></span>
			</div>
			<div class="results-container">
				<div class="section-list-container results-container-items">
					<div ng-repeat="alphaList in categoryLists" class="section-list searchResult-section-list">
						<a id="{{alphaList.letter}}" class="{{displayCategoryListClose ? 'active-letter' : ''}}"></a>
						<div class="section-list-items">
							<div class="section-list-item">
								<div class="section-list-item-name letter">
									{{alphaList.letter}}
								</div>
							</div>
						</div>
						<div class="section-list-items" ng-repeat="sublistItem in alphaList.sublist" ng-click="goToCategory(sublistItem.recordId)">
							<div class="section-list-item">
								<div class="section-list-item-name">
									{{sublistItem.name}}<span ng-if="!sublistItem.externalApproved && internalOnlyMode" class="fa fa-lock internal-mode-lock"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
