<style type="text/css">
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #000;
        margin: 8% auto; /* 15% from the top and centered */
        padding: 10px;
        border: 1px solid #000;
        width: 680px; /* Orginal 80%. Could be more or less, depending on screen size */
        height: 500px;
    }

    /* The Close Button */
    .close {
        color: #eee;
        float: right;
        font-size: 45px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: white;
            text-decoration: none;
            cursor: pointer;
        }

    :root {
        --primary-color: #00bcd4;
        --accent-color: #f50057;
        --text-color: #263238;
        --body-color: #80deea;
        --main-font: 'roboto';
        --font-bold: 700;
        --font-regular: 400;
    }

    * {
        box-sizing: border-box;
    }


    main {
        display: flex;
        /* flex-direction: column; */
        /* justify-content: center; */
        align-items: center;
        width: 50vw;
        float: left;
        margin-left: 30px;
    }

    .searchIcon{
            margin-left: 3px;
    }

    h1 {
        font-weight: var(--font-bold);
    }

    input,
    button {
        border: none;
        background: none;
        outline: 0;
    }

    button {
        cursor: pointer;
    }

    .SearchBox-input::placeholder { /* No es un seudoelemento estandar */
        color: white;
        opacity: .6;
    }
    /* Chrome, Opera ySafari */
    .SearchBox-input::-webkit-input-placeholder {
        color: white;
    }
    /* Firefox 19+ */
    .SearchBox-input::-moz-placeholder {
        color: white;
    }
    /* IE 10+ y Edge */
    .SearchBox-input:-ms-input-placeholder {
        color: white;
    }
    /* Firefox 18- */
    #formGroupExampleInput:-moz-placeholder {
        color: white;
    }



    .SearchBox {
        --height: 2em;
        display: flex;
        border-radius: var(--height);
        background-color: var(--primary-color);
        height: var(--height);
    }

        .SearchBox:hover .SearchBox-input {
            padding-left: 2em;
            padding-right: 1em;
            width: 240px;
        }

    .SearchBox-input {
        width: 0;
        font-size: 1.2em;
        color: #fff;
        transition: .45s;
    }

    .SearchBox-button {
        display: flex;
        border-radius: 50%;
        width: var(--height);
        height: var(--height);
        background-color: var(--accent-color);
        transition: .3s;
    }

        .SearchBox-button:active {
            transform: scale(.85);
        }

    .SearchBox-icon {
        margin: auto;
        color: #fff;
    }
    .backgroundColor{
        background-color:white;
    }

    @media screen and (min-width: 400px) {
        .SearchBox:hover .SearchBox-input {
            width: 300px;
        }
    }
</style>
<script type="application/javascript">
    var modal = document.getElementById('myModal');

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<div id="page-content" ng-style="{'min-height': contentScreenHeight + 'px'}">
    <div id="playlist-navbar" ng-if="playlistPresent" ng-controller="playlistNavbarController">
        <div id="playlist-navbar-header" ng-click="goToPlaylist()">
            <span class="playlist-navbar-header-icon fa fa-list-ul"></span><span class="playlist-navbar-header-text">{{mobile ? (playlist.name | ellipseText22) : playlist.name}}<span ng-if="!playlist.externalApproved && internalOnlyMode" class="fa fa-lock internal-mode-lock"></span></span>
        </div>
        <div id="playlist-navbar-controls">
            <span class="playlist-navbar-control fa fa-chevron-left {{hasPrevious ? 'active' : ''}}" ng-click="previous()"></span>
            <span class="playlist-navbar-control fa fa-chevron-right {{hasNext ? 'active' : ''}}" ng-click="next()"></span>
        </div>
    </div>
    <div id="category-navbar" ng-if="categoryPresent" ng-controller="categoryNavbarController">
        <div id="parent-category-hierarchy-wrapper" ng-if="hierarchy.length > 0">
            <div ng-repeat="hierarchyCategory in hierarchy" class="category-navbar-header" ng-click="goToCategory(hierarchyCategory.categoryId)">
                <span class="category-navbar-header-icon fa fa-circle"></span><span class="category-navbar-header-text">{{mobile ? (hierarchyCategory.name | ellipseText22) : hierarchyCategory.name}}</span>
            </div>
        </div>
        <div id="category-navbar-header" ng-click="goToCategory()">
            <span class="category-navbar-header-icon fa fa-circle"></span><span class="category-navbar-header-text">{{mobile ? (category.name | ellipseText22) : category.name}}</span>
        </div>
        <div id="category-navbar-controls" ng-if="hierarchy.length > 0">
            <span ng-hide="showHierarchy" class="category-navbar-control fa fa-chevron-circle-down" ng-click="slideDownHierarchy()"></span>
            <span ng-show="showHierarchy" class="category-navbar-control fa fa-chevron-circle-up" ng-click="slideUpHierarchy()"></span>
        </div>
    </div>
    <div ng-if="desktop" class="contentTitle">
        {{contentItem.title}}<span ng-if="!contentItem.externalApproved && internalOnlyMode" class="fa fa-lock internal-mode-lock"></span>
    </div>
    <div ng-if="mobile" class="contentTitle" ng-click="openContent()">
        {{contentItem.title}}<span ng-if="!contentItem.externalApproved && internalOnlyMode" class="fa fa-lock internal-mode-lock"></span>
    </div>
    <div class="left-side">
        <div ng-if="desktop" class="desktop-doc">
            <div ng-if="contentItem.fileType == 'MP4'" ng-click="playVideo()">
                <div ng-if="desktop && ((contentItem.largeImageUrl == '' || contentItem.largeImageUrl == null || contentItem.largeImageUrl == undefined) || contentItem.fileType == 'LINK')" class="contentThumbnail-icon file-icon-{{contentItem.fileExtension | fileIconClass}}">

                </div>
                <div ng-if="desktop && contentItem.largeImageUrl != '' && contentItem.largeImageUrl != null && contentItem.largeImageUrl != undefined && contentItem.fileType != 'LINK'" class="contentThumbnail" style="background-image:url({{contentItem.largeImageUrl}})">

                </div>
            </div>
            <div ng-if="contentItem.fileType != 'MP4'">
                <a ng-click="openContent()" ng-if="!isStream && !isEmbeddedVideo">
                    <div ng-if="desktop && ((!hasFlash && (contentItem.largeImageUrl == '' || contentItem.largeImageUrl == null || contentItem.largeImageUrl == undefined)) || contentItem.fileType == 'LINK')" class="contentThumbnail-icon file-icon-{{contentItem.fileExtension | fileIconClass}}">

                    </div>
                    <div ng-if="!hasFlash && desktop && contentItem.largeImageUrl != '' && contentItem.largeImageUrl != null && contentItem.largeImageUrl != undefined && contentItem.fileType != 'LINK'" class="contentThumbnail" style="background-image:url({{contentItem.largeImageUrl}})">

                    </div>
                </a>
            </div>
        </div>
        <div ng-if="isStream && !isEmbeddedVideo" class="contentThumbnail"><iframe src="{{'/apex/DSA_Stream?uuid=' + contentItem.streamUUID + '&width=' + videoWidth + '&height=' + videoHeight}}" seamless="seamless"></iframe></div>
        <div ng-if="isEmbeddedVideo" class="contentThumbnail"><iframe ng-src="{{contentItem.linkUrl}}" width="{{videoWidth}}" height="{{videoHeight}}" seamless="seamless"></iframe></div>
        <div ng-if="hasFlash && !isStream && !isEmbeddedVideo && contentItem.fileType != 'LINK' && contentItem.fileType != 'MP4'" ng-show="desktop" class="chatterFileViewerPanel" id="chatterFileViewerPanel"></div>
        <div class="contentDescription">
            {{contentItem.description}}
        </div>
        <div class="sourceContent" ng-if="hasSourceContent">
            <a ng-click="goToSource()">Source Content</a>
        </div>
        <div id="contentMetadata">
            <div class="contentMetadataItem">
                <span class="contentMetadata-label">Content Owner: </span><span class="contentMetadata-value">{{contentItem.contentOwner}}</span>
            </div>
            <div class="contentMetadataItem">
                <span class="contentMetadata-label">Authored/Last Updated: </span><span class="contentMetadata-value">{{contentItem.lastModified}}</span>
            </div>
            <div class="contentMetadataItem">
                <span class="contentMetadata-label">Last Review/Recertified: </span><span class="contentMetadata-value">{{contentItem.lastReviewed}}</span>
            </div>
        </div>
        <div ng-if="mobile" class="mobile-doc">
            <a ng-click="openContent()" ng-if="!isStream && !isEmbeddedVideo">
                <div ng-if="mobile && ((contentItem.smallImageUrl == '' || contentItem.smallImageUrl == null || contentItem.smallImageUrl == undefined) || contentItem.fileType == 'LINK')" class="contentThumbnail-icon file-icon-{{contentItem.fileExtension | fileIconClass}}">

                </div>
                <div ng-if="mobile && contentItem.smallImageUrl != '' && contentItem.smallImageUrl != null && contentItem.smallImageUrl != undefined && contentItem.fileType != 'LINK'" class="contentThumbnail" style="background-image:url({{contentItem.smallImageUrl}})">
                </div>
            </a>
        </div>
        <div class="contentActions">
            <div class="contentActionLike {{contentItem.myVote == 'up' ? 'myVote' : ''}}" ng-click="voteUp()">
                <span class="contentAction-icon fa fa-thumbs-up"></span><span class="contentAction-label">{{contentItem.upVotes}}</span>
            </div>
            <div class="contentActionDislike {{contentItem.myVote == 'down' ? 'myVote' : ''}}" ng-click="voteDown()">
                <span class="contentAction-icon fa fa-thumbs-down"></span><span class="contentAction-label">{{contentItem.downVotes}}</span>
            </div>
            <div class="contentActionShare">
                <div id="contentActionShare-menu-container">
                    <span ng-click="openActions()"><span class="contentAction-icon s1utility s1utility-share"></span><span class="contentAction-label">Action</span></span>
                    <div id="contentActionShare-menu" class="section">
                        <div class="section-header">
                            <span class="section-header-icon s1utility s1utility-share"></span><span class="section-header-text">Actions</span>
                            <span ng-click="closeActions()" class="section-header-close fa fa-times"></span>
                        </div>
                        <div class="section-list-container">
                            <div class="section-list">
                                <div class="section-list-header"></div>
                                <div class="section-list-items">
                                    <div class="section-list-item" ng-click="openAddToPlaylist()">
                                        <div class="section-list-item-icon s1utility s1utility-add">
                                        </div>
                                        <div class="section-list-item-name">
                                            Add to Playlist
                                        </div>





                                    </div>
                                    <!--<div class="section-list-item" ng-click="openRemoveFromPlaylist()">
                                        <div class="section-list-item-icon fa fa-trash-o">
                                        </div>
                                        <div class="section-list-item-name">
                                            Remove from Playlist
                                        </div>
                                    </div>-->
                                    <div ng-if="contentItem.fileType == 'MP4'" class="section-list-item" ng-click="playVideo()">
                                        <div class="section-list-item-icon fa fa-play-circle-o">
                                        </div>
                                        <div class="section-list-item-name">
                                            Play Video
                                        </div>
                                    </div>
                                    <div ng-if="contentItem.documentType != 'Competitive Information'" class="section-list-item">
                                        <div class="section-list-item-icon fa fa-envelope-o">
                                        </div>
                                        <div class="section-list-item-name" style="color:white;text-decoration:none;">
                                            <a style="color:white;" href="mailto:?subject=Content%20From%20Mastercard&body=Content:%0D%0A{{trustSrc(contentItem.contentURL)}}">
                                                Email File
                                            </a>
                                        </div>
                                    </div>
                                    <div class="section-list-item" ng-click="downloadContent()">
                                        <div class="section-list-item-icon s1utility s1utility-download">
                                        </div>
                                        <div class="section-list-item-name">
                                            Download File
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close" ng-click="pauseVideo()">&times;</span>
                            <video id="video-modal" width="640" height="480" type='video/mp4; codecs="avc1.4D401E,mp4.40.2"' src="{{trustSrc(contentItem.downloadURL)}}" controls>
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div ng-controller="playlistEditController">
                        <div id="addToPlaylist-menu" class="section">
                            <div class="section-header">
                                <span class="section-header-text">ADD TO PLAYLIST</span>
                                <span ng-click="closeAddToPlaylist()" class="section-header-close fa fa-times"></span>
                            </div>
                            <div class="section-list-container">
                                <div class="section-list">
                                    <div class="section-list-header"></div>
                                    <div class="section-list-items">
                                        <div class="section-list-item">
                                            <div ng-click="slideNewPlaylistForm()" style="float: left;">

                                                <div class="section-list-item-icon s1utility s1utility-add" style="float: left;">
                                                </div>
                                                <div class="section-list-item-name" style="float: left;">
                                                    New Playlist
                                                </div>
                                            </div>

                                            <main>
                                                <div class="SearchBox">
                                                    <input type="text" ng-model="searchKey" class="SearchBox-input" placeholder="SEARCH HERE..." >
                                                    <button class="SearchBox-button">
                                                        <i class="fa fa-search searchIcon" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </main>
                                        </div>

                                        <div id="new-playlist-form" class="section-list-item-form">
                                            <div class="section-list-item-form-field">
                                                <input type="text" placeholder="Title" ng-model="newPlaylist.newPlaylistTitle" class="backgroundColor"></input>
                                            </div>
                                            <div class="section-list-item-form-field">
                                                <textarea placeholder="Description" rows="4" ng-model="newPlaylist.newPlaylistDescription"></textarea>
                                            </div>
                                            <!-- <div class="playlist-featured-checkbox-wrapper" ng-if="info.isFeaturePlaylistAdmin">
                                                <input type="checkbox" ng-model="newPlaylist.newPlaylistIsFeatured" id="playlist-featured-checkbox" />
                                                <label for="playlist-featured-checkbox">Featured</label>
                                            </div> -->
                                            <div class="section-list-item-form-control" ng-click="createAndAddToPlaylist(contentItem.contentDocumentId)">
                                                <span class="section-list-item-form-control-icon s1utility s1utility-check"></span><span class="section-list-item-form-control-text">Create &amp; Add to Playlist</span>
                                            </div>
                                        </div>
                                        <div class="section-list-item" ng-repeat="playlist in myPlaylists | filter : searchKey" ng-click="addToPlaylist(playlist.recordId, contentItem.contentDocumentId)">
                                            <div class="section-list-item-name">
                                                {{playlist.name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="removeFromPlaylist-menu" class="section">
                            <div class="section-header">
                                <span class="section-header-text">REMOVE FROM PLAYLIST</span>
                                <span ng-click="closeRemoveFromPlaylist()" class="section-header-close fa fa-times"></span>
                            </div>
                            <div class="section-list-container">
                                <div class="section-list">
                                    <div class="section-list-header"></div>
                                    <div class="section-list-items">
                                        <div class="section-list-item" ng-repeat="playlist in myPlaylists" ng-click="removeFromPlaylist(playlist.recordId, contentItem.contentDocumentId)">
                                            <div class="section-list-item-name">
                                                {{playlist.name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section relatedContent right-side">
        <div class="section-header">
            <span><span class="section-header-icon fa fa-file"></span><span class="section-header-text">RELATED CONTENT</span></span>
        </div>
        <div class="section-no-results" ng-if="relatedContent.length == 0"><span class="section-no-results-text">None</span></div>
        <div class="section-list-container" ng-if="relatedContent.length > 0">
            <div class="section-list-container">
                <div class="section-list">
                    <div class="section-list-items">
                        <div class="section-list-item" ng-repeat="relatedItem in relatedContent" ng-click="goToContent(relatedItem.contentDocumentId)">
                            <div class="section-list-item-icon file-icon-{{relatedItem.fileExtension | fileIconClass}}">
                            </div>
                            <div class="section-list-item-name">
                                {{relatedItem.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
