<div id="page-content" style="min-height:{{macScreenHeight}}px;height:{{macScreenHeight}}px;">
	<div id="page-content-title">PLEASE SELECT A MOBILE APP CONFIG:</div>
	<div ng-if="mobile" class="macsCarousel" style="height:{{macHeight}}px;"><!--
		--><a ng-repeat="mac in macs" class="macTileLink" ng-click="selectMac(mac)">
			<div class="carousel-layer mac-tile-wrapper" style="width:{{macWidth}}px;height:{{macHeight}}px;">
				<div class="macWrapper mac-tile">
					<div class="macText">{{mac.titleText}}</div>
				</div>
				<div class="backgroundImage" style="background-image:url({{mac.landscapeBackgroundImageURL}});background-size:cover;"></div>
			</div>
		</a><!--
	--></div>
	<div ng-if="desktop" class="macTiles" style="width:{{macRowWidth}}px;"><!--
		--><a ng-repeat="mac in macs" class="macTileLink" ng-click="selectMac(mac)">
			<div ng-if="$index < remainder" class="carousel-layer mac-tile-wrapper" style="width:{{remainderMacWidth}}px;height:{{remainderMacHeight}}px;">
				<div class="macWrapper mac-tile">
					<div class="macText">{{mac.titleText}}</div>
				</div>
				<div class="backgroundImage" style="background-image:url({{mac.landscapeBackgroundImageURL}});background-size:cover;"></div>
			</div>
			<div ng-if="$index >= remainder" class="carousel-layer mac-tile-wrapper" style="width:{{macWidth}}px;height:{{macHeight}}px;">
				<div class="macWrapper mac-tile">
					<div class="macText">{{mac.titleText}}</div>
				</div>
				<div class="backgroundImage" style="background-image:url({{mac.landscapeBackgroundImageURL}});background-size:cover;"></div>
			</div>
		</a><!--
	--></div>
</div>