<ul class="nav navbar-nav">
    <li>
        <a ng-init="removeWalkMe()" ng-click="navigateToSF()" >
            <div id="menu-topics">
                <span class="menu-item-icon fa fa-mail-reply fa-2x"></span><span class="menu-item-text">EXIT DSA</span>
            </div>
        </a>
    </li>
	<li>
		<a ng-click="goToAllContents()">
			<div id="menu-topics">
				<span class="menu-item-icon fa fa-file fa-2x"></span><span class="menu-item-text">CONTENT</span>
			</div>
		</a>
	</li>
	<li>
		<a ng-click="goToAllPlaylists()">
			<div id="menu-playlists">
				<span class="menu-item-icon fa fa-th-list fa-2x"></span><span class="menu-item-text">PLAYLISTS</span>
			</div>
		</a>
	</li>	
</ul>