<div id="preferences-menu" class="section">
	<div class="section-header" ng-click="closePreferences()">
		<span class="section-header-text">Preferences</span>
		<span class="section-header-close fa fa-times"></span>
	</div>
	<div class="section-list-container">
		<div class="section-list">
			<div class="section-list-header"></div>
			<div class="section-list-items">
				<div class="section-list-item">
					<div class="section-list-item-name">
						Mobile App Configs
					</div>
					<div class="section-list-item-form">
						<div id="filter-results-section">
							<div id="filter-results-tags">
								<div ng-repeat="mac in macs" class="filter-results-tag {{mac.isSelected ? 'selected' : ''}}" ng-click="selectMac(mac)">
									<div class="filter-results-tag-label">{{mac.titleText}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="desktop" class="return-to-sf">
			<button type="button" id="section-exit-button" ng-click="navigateToSF()">
				<span class="section-exit-button-text">Exit DSA and return to Salesforce</span>
			</button>
		</div>
	</div>
</div>
